table{
	width: 25%;
	margin-left: 20px ;
}

.itemInd{
	margin-left: 5px;
	margin-right: 5px;
}

.choose{
    margin-left: 10%;
}

.pagination{
    display: flex;
    max-height: 30px;
    margin-top: 5%;
}

.row{
  display: flex;
  flex-direction: row;
}

.contacts {
  max-width: 400px;
}

.contact-card {
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1%;
}

mat-card-content,button{
  margin: 16px;
}


.greenButton {
  border: 0;
  width: auto;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(47, 184, 91, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.greenButton:hover {
  background-color: rgba(40, 160, 80, 1);
}

.greenButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.redButton {
  margin-left: 10%;
  border: 0;
  line-height: 2.5;
  width: auto;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.redButton:hover {
  background-color: rgba(255, 0, 0, 1);
}

.redButton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}