<table>
	<th>Trier par: </th>
	<td (click)="sortAscDesc('name')">Nom <i class="fa fa-sort"></i></td>
	<td (click)="sortAscDesc('firstname')">Prenom <i class="fa fa-sort"></i></td>
	<td (click)="sortAscDesc('phone')">Numero <i class="fa fa-sort"></i></td>
</table>
<div class="row">
    <div class="contacts" *ngFor="let contact of contacts | paginate:{itemsPerPage: itemsNumber, currentPage: currentPg}">
      <div class="card-body">
            <mat-card class="contact-card">
                <mat-card-header>
                  <mat-card-title>{{contact.firstname}} {{contact.name}}</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                  <p>{{contact.phone}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button class="greenButton" (click)="redirectForUpdate(contact.id)">Modifier</button>     
                  <button class="redButton" (click)="deleteContact(contact.id)">Supprimer</button>          
                </mat-card-actions>
            </mat-card>    
        </div>
    </div>
    <div class="pagination">
      <pagination-controls (pageChange)="currentPg = $event"></pagination-controls>  
      <div class="choose">
        <small>Nombre de contact par page: </small>
        <input (click)="dec()" type="button" value="-">
        <span class="itemInd">{{itemsNumber}}</span>
        <input (click)="inc()" type="button" value="+">
      </div>
      
    </div>
    
</div>

