

<div id="contactForm">
    <form #form="ngForm">
        <div id="formTitle"><h1><b>Modifier un contact</b></h1></div>
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input type="text" required matInput [ngModel]="contact.name" name="name" >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Prénom</mat-label>
            <input type="text" required matInput [ngModel]="contact.firstname" name="firstname">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+262 &nbsp;</span>
            <input type="text" type="tel" matInput [ngModel]="contact.phone" name="phone" placeholder="0692458975" >
        </mat-form-field>
        <div class="buttons">
            <button class="greenButton" [disabled]="form.invalid" (click)="setContact(id, form)">Valider</button>
            <button class="redButton" onclick="history.back()">Annuler</button>
        </div>
        
    </form> 

</div>
