<form class="searchForm" #formulaire="ngForm" (ngSubmit)="redirectForSearch(formulaire)" >
    <div id = "searchBar">
        <label for="recherche">Rechercher : </label>
        <input required type="text" id="recherche" ngModel name="recherche">  
        <label > Critère de recherche:
            <select [(ngModel)]="ngSelect" name="critere">
              <option value="nom">Nom</option>
              <option value="prenom" >Prénom</option>
              <option value="numero">N° téléphone</option>
            </select>
        </label>
        <button class="greenButton" [disabled]="formulaire.invalid" type="submit" name="search">Rechercher</button>

    </div>
   
  
</form>
