<form #formulaire="ngForm" (ngSubmit)="redirectForSearch(formulaire)" >
    <div id = "searchBar">
        <label for="recherche">Rechercher : </label>
        <input type="text" id="recherche" ngModel name="recherche">  
        <label > Critère de recherche:
            <select [(ngModel)]="ngSelect" name="critere">
              <option value="nom">Nom</option>
              <option value="prenom" >Prénom</option>
              <option value="numero">N° téléphone</option>
            </select>
        </label>
    </div>
    <br>
  
    <button type="submit" name="search">Rechercher</button>
  
</form>
