
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-left:25%;
	margin-right:25%;
    font-family : cursive,"Helvetica Neue", Verdana, sans-serif;
}

.greenButton {
    border: 0;
    line-height: 2.5;
    margin-left: 20px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(47, 184, 91, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.greenButton:hover {
    background-color: rgba(40, 160, 80, 1);
}

.greenButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

select {
    width: wrap-content;
    border: 1px solid #999;
    color: #807868;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    text-align:center;
}