<form class="searchForm" #form="ngForm" (ngSubmit)="redirectForSearch(form)" >
    <div id = "searchBar">
        <label for="research">Rechercher : </label>
        <input required type="text" id="research" ngModel name="research">  
        <label > Critère de recherche:
            <select [(ngModel)]="ngSelect" name="critere">
              <option value="name">Nom</option>
              <option value="firstname" >Prénom</option>
              <option value="phone">N° téléphone</option>
            </select>
        </label>
        <button class="greenButton" [disabled]="form.invalid" type="submit" name="search">Rechercher</button>

    </div>
</form>
